.footer {
    padding: 2vw 5vw;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222F33;
    color: #fff;
}

.footer > div {
    opacity: 0.6;
}

.footer__images {
    opacity: 1;
    align-items: center;
    display: flex;
}

.footer__nav-item {
    padding-right: 3vw;
}

@media screen and (max-width: 700px){
    .footer {
        flex-direction: column;
    }

    .footer__images {
        padding:10px
    }
}