.header {
    background: url("../images/header_image.png");
    background-size: cover;
    color: #FFFFFF;
    padding-bottom: 20.2vw;
}

.header__menu {
    display: none;
}

.header__container {
    padding: 3.5vw 9.2vw 11.5vw 10vw;
    font-size: 1.05rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.header__nav {
    padding-left: 21.5vw;
}

.header__nav-item {
    margin: auto 4vw auto auto;
}

.header__contact-button {
    padding: 15px 25px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #606B74;
    font-size: 1.05rem;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {

    .header {
        background-position: center;
    }

    .header__menu {
        display: inline-block;
    }

    .menu-button {
        max-height: 5vh;
    }

    .header__contact-button {
        display: none;
    }

    .header__nav {
        padding: 20px;
        background: #a19daa;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 5rem;
        margin-top: 0;
        clip-path: circle(0 at top right);
        transition: clip-path 0.8s ease-in;
        z-index: 20;
        overflow-y:scroll;
    }

    .header__nav ul {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .header__nav.open {
        clip-path: circle(1000px at top);
    }

    .header__nav .header__nav-item {
        margin-right: 0;
        flex: 1;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
    }

    .header__nav button {
        margin: 30px auto;
        font-weight: 500;
        display: block;
        font-size: 32px;
    }

    .header__nav-item {
        margin: 0;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

